#accordionHeader {
  text-align: center;
}

#sortBtns {
  display: flex;
  justify-content: center;
}

#sortBtns > button {
  margin: 2em;
}

#checkBoxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#categories,
#languages,
#resolution {
  display: flex;
  justify-content: center;
}

#checkBoxes > #categories > div {
  margin: 1em;
}

#checkBoxes > #languages > div {
  margin: 1em;
}
